<!DOCTYPE html>
<html>
<head>
    <title>Boletim</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<button class="toggle" onclick="toggleDark()">🌙</button>

<div class="sidebar">
    <h2>Portal do Aluno</h2>
    <a href="/boletim">Boletim</a>
    <a href="/logout">Sair</a>
</div>

<div class="main">

<h1>Boletim</h1>

<form method="POST">
    <div class="grid">
        {% for materia, notas in dados.items() %}
        <div class="card">
            <h3>{{ materia }}</h3>

            <div class="inputs">
                {% for i in range(4) %}
                <input type="number" step="0.1" min="0" max="10"
                       name="{{ materia }}_{{ i+1 }}"
                       value="{{ notas[i] if notas[i] > 0 else '' }}">
                {% endfor %}
            </div>

            <p class="media">Média: {{ "%.2f"|format(medias[materia]) }}</p>

            <div class="progress">
                <div class="progress-bar" style="width: {{ medias[materia]*10 }}%"></div>
            </div>

        </div>
        {% endfor %}
    </div>

    <button class="salvar">Salvar Notas</button>
</form>

<div class="resultado">
    <h2>Média Geral: {{ "%.2f"|format(media_geral) }}</h2>
    <h2>Status: {{ status }}</h2>
</div>

</div>

<script>
function toggleDark() {
    document.body.classList.toggle("dark");
}
</script>

</body>
</html>